.head{
    height:auto;
    color: white;
    text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cursive;
}

p {
  font-family: "Kaushan", "Script";
}
#first {
    clear: both;
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .info {
    text-align: center;
    margin-top: 5%;
  }
  .services {
    background-image: url("../images/backgrounds/s_image.jpg");
    height: 200%;
    text-align: center;
    color: white;
    margin-top: 5%;
    background-size: cover;